@{
    ViewBag.Title = "Users";
}

<link rel="stylesheet" href="~/css/scroll-container.css" asp-append-version="true"/>

<h2>Manage users</h2>
<div>
    <input type="search"/>
</div>
<div id="user-container" class="scroll-container">
</div>

<script type="module" src="~/js/usersPage/index.js"></script>
