@model UrlViewModel

@{
    ViewData["Title"] = "Download playlist";
}

<div>
    <h2>Download playlist</h2>
    <input type="text" id="playlistUrlInput" name="url">
    <button disabled autocomplete="off" id="playlist-download-btn">Download selected</button>
    <ul id="selected-songs-list"></ul>
    <div id="playlist-container"></div>
    <div id="toast--error" hidden>Error while downloading playlist. Please try again later.</div>
</div>

<script type="module" src="~/js/playlistPage/index.js"></script>
