@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Download Youtube video:</h1>
    <form method="get" asp-controller="Download" asp-action="Index">
        <div>
            <label for="urlInput">Enter URL:</label>
            <input type="text" id="urlInput" name="url">
        </div>
        <div>
            <label for="type">Choose part of video to download:</label>
            <select id="type" name="type">
                <option value="audio">Audio</option>
                <option value="video">Video with audio</option>
            </select>
        </div>
        <button type="submit">Download</button>
    </form>
</div>