@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Download Youtube video:</h1>
    <form method="post" asp-controller="Download" asp-action="Index">
        <div>
            <label for="urlInput">Enter URL:</label>
            <input type="text" id="urlInput" name="Url">
        </div>
        <button type="submit">Download</button>
    </form>
</div>