@{
    ViewData["Title"] = "Download history";
}

<link rel="stylesheet" href="~/css/historyPage/index.css" asp-append-version="true"/>

<h2>See your download history here</h2>
<div id="history-container" class="history-container">
</div>

<script type="module" src="~/js/historyPage/index.js"></script>