@{
    ViewData["Title"] = "Search";
}

<div>
    <h1>Search for Youtube video:</h1>
    
    <form method="get">
        <div>
            <label for="queryInput">Enter search query::</label>
            <input type="text" id="queryInput" name="searchQuery">
        </div>
        <button type="submit" id="searchButton">Search</button>
    </form>
    
    <div id="results"></div>
    <button id="loadMoreButton">Load more</button>
    <div id="toast--error" hidden>Error while downloading audio. Please try again later.</div>
</div>

<script>
    function redirect(endpoint){
        const paths = window.location;
        window.location.href = `${paths.origin}/${endpoint}`
    }

    function createVideoCard(videoData) {
        const container = document.createElement('div');
        container.className = "video-card"
        
        const title = document.createElement('h3');
        title.textContent = videoData.title;
        const thumbnail = document.createElement("img");
        thumbnail.src = videoData.thumbnailUrl;
        const author = document.createElement('h4');
        author.textContent = videoData.author;
        const url = document.createElement('a');
        url.href = videoData.url;
        url.textContent = videoData.url;
        const duration = document.createElement('p');
        author.textContent = videoData.duration;
        
        const downloadButton = document.createElement('button');
        downloadButton.textContent = 'Download';
        downloadButton.addEventListener('click', () => redirect(`Download?url=${videoData.url}`));
        
        container.appendChild(title);
        container.appendChild(author);
        container.appendChild(thumbnail);
        container.appendChild(url);
        container.appendChild(downloadButton);
        container.appendChild(duration);
       
        return container;
    }

    document.getElementById("searchButton").addEventListener("click", function (event) {
        event.preventDefault();
        const queryString = document.getElementById("queryInput").value;
        const loadMoreButton = document.getElementById("loadMoreButton");
        loadMoreButton.queryString = queryString;
        loadMoreButton.nextPageToken = "";
        
        const headers = {
            "Content-type": "application/json"
        };
        const url = "/Search/GetQueryResults?" + new URLSearchParams({
            searchQuery: queryString
        }).toString();
        
        fetch(url, {
            method: "GET",
            headers: headers
        })
        .then((response) => {
            if (!response.ok) {
                document.getElementById("toast--error").hidden = false;
                return;
            }
            
            return response.json();
        })
        .then((data) => {
            loadMoreButton.nextPageToken = data.nextPageToken;
            
            const resultContainer = document.getElementById("results");
            resultContainer.replaceChildren();
            for (const videoData of data.videos) {
                const card = createVideoCard(videoData);
                resultContainer.appendChild(card);
            }
        })
    });
    
    document.getElementById('loadMoreButton').addEventListener('click', function() {
        const resultContainer = document.getElementById("results");        
        
        const headers = {
            "Content-type": "application/json"
        };
        const url = "/Search/GetQueryResults?" + new URLSearchParams({
            searchQuery: this.queryString,
            nextPageToken: this.nextPageToken
        }).toString();
                
        fetch(url, {
            method: "GET",
            headers: headers
        })
        .then((response) => {
            if (!response.ok) {
                document.getElementById("toast--error").hidden = false;
                return;
            }
            
            return response.json();
        })
        .then((data) => {
            loadMoreButton.nextPageToken = data.nextPageToken;

            for (const videoData of data.videos) {
                const card = createVideoCard(videoData);
                resultContainer.appendChild(card);
            }
        })
    });
</script>