@{
    ViewData["Title"] = "Search";
}

<div>
    <h1>Search for Youtube video:</h1>
    
    <form method="get">
        <div>
            <label for="queryInput">Enter search query::</label>
            <input type="text" id="queryInput" name="searchQuery">
        </div>
        <button type="submit" id="searchButton">Search</button>
    </form>
    
    <div id="results"></div>
    <button id="loadMoreButton">Load more</button>
    <div id="toast--error" hidden>Error while downloading audio. Please try again later.</div>
</div>

<script type="module" src="~/js/searchPage/index.js"></script>