@model DownloadModel

@{
    ViewData["Title"] = "Download";
}

<div>
    <h2>Your download will start shortly</h2>
    <p>
        In a moment, the server will get the audio from YouTube and download will start afterwards.
    </p>
    <p>
        Requested video URL: <a id="video-url" href="@Model.Url">@Model.Url</a>
    </p>
    <data id="type-data" value="@Model.Type"></data>
    <div id="toast--error" hidden>Error while downloading audio. Please try again later.</div>
</div>

<script type="module" src="~/js/downloadPage/index.js"></script>