@{
    ViewData["Title"] = "Admin dashboard";
}

<h2>Admin dashboard</h2>
<div class="dashboard">
    <div class="dashboard__card">
        <a href="/Admin/Users">Users</a>
    </div>
    
    <div class="dashboard__card">
        <a href="/Admin/Roles">Roles</a>
    </div>
</div>